<header class="fixed top-0 left-0 w-full bg-white z-50"><app-menu></app-menu></header>
<section id="home" class="section1 h-screen mt-24 w-full relative">
  <app-proyecto-section-1 [Nombre]="Nomb" [Descripcion]="Desc" [Botones]="Btn"></app-proyecto-section-1>
</section>
<section class="h-full w-full  pt-20 bg-gray-50">
  <app-proyecto-section-2 [Imagen]="Img"></app-proyecto-section-2>
</section>
<section class="h-full w-full  pt-20 bg-gray-50">
  <app-proyecto-section-3 [DescripcionCompleta]="DescripcionCompleta" [Botones]="Btn" [Herramientas]="Herramientas"></app-proyecto-section-3>
</section>
