<div>
  <div class="flex flex-col items-center justify-center">
    <span class="font-inter text-3xl sm:text-4xl font-bold">
      Proyectos
    </span>
    <div class="h-3 w-32 sm:w-40 mt-4 rounded-full bg-fondo"></div>
    <div class="w-full sm:w-1/2 mt-4 mx-auto px-4 sm:px-0 text-center">
      <span class="text-base sm:text-xl text-gray-600">
        Aquí encontrarás algunos de los proyectos personales y para clientes que he creado
      </span>
    </div>
  </div>
  <div class="lg:grid-cols-2 grid-cols-1 grid">
    <div class="xl:p-20 p-10">
      <div class="xl:ml-10">
        <img src="Proyectos/GestorPPI/PPI JIC proyecto.png" alt="">
      </div>
    </div>
    <div class="lg:py-16  xl:py-40  flex justify-center text-center lg:text-left   lg:justify-start">
      <div class="px-8">
        <span class="text-xl  text-center font-inter font-bold">
          Sistema gestor PPI
        </span>
        <p class="xl:pr-20  pb-5  pt-4 text-lg font-inter text-gray-600">
          Este proyecto ha sido creado con el propósito de mejorar la administración de las asesorías y las bitácoras en
          las técnicas y tecnologías del Politécnico Jaime Isaza Cadavid.
        </p>
        <button (click)="Cambiar()"
          class="py-3 px-10 mt-10 bg-fondo text-white font-inter text-lg font-bold rounded-xl hover:bg-fondoOscuro cursor-pointer">Ver
          mas</button>
      </div>

    </div>
    <!--
    <div class="xl:p-20 p-10">
      <div class="xl:ml-10">
        <img src="Proyectos/Libreria/Libreria.png" alt="">
      </div>
    </div>
    <div class="lg:py-16  xl:py-40  flex justify-center text-center lg:text-left   lg:justify-start">
      <div class="px-8">
        <span class="text-xl  text-center font-inter font-bold">
          Libreia
        </span>
        <p class="xl:pr-20 pb-5   pt-4 text-lg font-inter text-gray-600">
          Este proyecto ha sido creado con proposito academico, el cual consiste en la administracion de una biblioteca.
        </p>
        <button (click)="Libreria()"
        class="py-3 px-10 mt-10 bg-fondo text-white font-inter text-lg font-bold rounded-xl hover:bg-fondoOscuro cursor-pointer">Ver
        mas</button>
      </div>
    </div>-->
  </div>
</div>
