<div>
  <div class="flex flex-col items-center justify-center h-screen text-center px-4">
    <span class="font-inter text-3xl sm:text-4xl font-bold border-fondo">
      Acerca de mí
    </span>
    <div class="h-3 w-32 sm:w-40 mt-4 rounded-full bg-fondo"></div>
    <div class="w-full sm :w-1/2 mt-4 mx-auto">
      <span class="text-base sm:text-xl text-gray-600">Aquí encontrarás más información sobre mí, lo que hago, y mis habilidades actuales, sobre todo en términos de programación y tecnología.</span>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-12 px-4 sm:px-8 lg:px-20">
      <div>
        <p class="text-xl sm:text-2xl font-bold font-inter text-start">
          ¡Conóceme!</p>
        <p class="text-base sm:text-lg font-inter mt-6 text-start text-gray-600">
          Soy un <span class="font-bold">desarrollador centrado en el Back-end</span> que construye y gestiona la
          lógica de sitios web y aplicaciones, lo cual contribuye al éxito del producto en general. A lo largo de mis estudios, he desarrollado un gusto por el desarrollo web centrado en el <span class="font-bold">Front-end</span>, mediante la construcción de proyectos académicos y personales. Puedes ver algunos de mis trabajos en la <a href="#poryectos" class="font-bold">sección de proyectos.</a>
        </p>
        <p class="text-base sm:text-lg font-inter mt-4 text-start text-gray-600">
          También me gusta compartir los conocimientos que he aprendido a lo largo de mis estudios y trabajos, los cuales pueden ayudar a las personas de la comunidad de la informática y a los proyectos. ¡Siéntete libre de contactarte conmigo en algunas de mis redes sociales!
        </p>
      </div>
      <div class="text-left">
        <p class="text-2xl font-bold font-inter">Mis habilidades</p>
        <div class="mt-9 flex-wrap flex">
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">C#</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">.Net</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">Java</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">Nest.Js</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">Python</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">SQL</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">PostgreSQL</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">MySQL</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">HTML</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">SCSS</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">JQuery</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">React.Js</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">Angular</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">Tailwind CSS</span>
          </div>
          <div class="mx-2 my-4">
            <span class="px-4 py-3 rounded-md font-bold font-inter text-md text-gray-600 bg-gray-300">Git Hub</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
